{% load render_partial %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    {% include 'partials/head.html' %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if not request.path == '/account/login/' and not request.path == '/account/sign-up/' %}
    <header class="container">
      {% render_partial 'courses.views.search_box'  %}
      {% include 'partials/navigation.html' %}
      {% if not request.path == '/account/profile/' %}
      {% render_partial 'courses.views.generate_info'  %}
      {% endif %}
    </header>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>