{% extends 'parents/main.html' %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %}Home{% endblock %}
{% block content %}
<main class="container">
  <div class="slider-box container">
    <div class="slider-container swiper">
      <div class="swiper-wrapper">
        {% for lesson in slider_contents %}
        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-card__img">
              {% thumbnail lesson.lesson_image "315x200" crop='center' as im %}
              <img
                src="{{ im.url }}"
                alt=""
              />
              {% empty %}
              <img src="{% static 'assets/img/picture/lesson.jpg' %}" alt="">
              {% endthumbnail %}
              <div class="product-card__count">
                <!-- FIXME - Add icon -->
                <span class="material-symbols-outlined"> person </span>
                <span>{{ lesson.get_remaining_capacity }}</span>
              </div>
            </div>
            <div class="product-card__content">
              <h3 class="product-card__content__header">{{ lesson.title }}</h3>
              <div class="product-card__content__session">
                <span class="material-symbols-outlined"> schedule </span>
                :
                <span>{{ lesson.number_of_sessions }} جلسه</span>
              </div>
              <div class="product-card__content__teacher">
                <span class="material-symbols-outlined"> person </span>
                :
                <span>{{ lesson.teacher }}</span>
              </div>
      
              <div class="product-card__content__line"></div>
              <div class="product-card__price__btn">
                <a href="{{ lesson.get_absolute_url }}">مشاهده جزئیات</a>
                <div class="product-card__price">
                  {% if lesson.price == 0 %}
                  <span>رایگان</span>
                  {% else %}
                  <span>{{ lesson.price | intcomma }}</span>
                  <span>تومان</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="slider-text"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p></div>
  </div>

  <div class="cures-list container">
    <!-- card  -->
    {% for lesson in lessons %}
    <div class="product-card">
      <div class="product-card__img">
        {% thumbnail lesson.lesson_image "315x200" crop='center' as im %}
        <img
          src="{{ im.url }}"
          alt=""
        />
        {% empty %}
        <img src="{% static 'assets/img/picture/lesson.jpg' %}" alt="">
        {% endthumbnail %}
        <div class="product-card__count">
          <!-- FIXME - Add icon -->
          <span class="material-symbols-outlined"> person </span>
          <span>{{ lesson.get_remaining_capacity }}</span>
        </div>
      </div>
      <div class="product-card__content">
        <h3 class="product-card__content__header">{{ lesson.title }}</h3>
        <div class="product-card__content__session">
          <span class="material-symbols-outlined"> schedule </span>
          :
          <span>{{ lesson.number_of_sessions }} جلسه</span>
        </div>
        <div class="product-card__content__teacher">
          <span class="material-symbols-outlined"> person </span>
          :
          <span>{{ lesson.teacher }}</span>
        </div>

        <div class="product-card__content__line"></div>
        <div class="product-card__price__btn">
          <a href="{{ lesson.get_absolute_url }}">مشاهده جزئیات</a>
          <div class="product-card__price">
            {% if lesson.price == 0 %}
            <span>رایگان</span>
            {% else %}
            <span>{{ lesson.price | intcomma }}</span>
            <span>تومان</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <h3 class="not-find">درس پیدا نشد</h3>
    {% endfor %}
    <!-- end of card  -->
  </div>
</main>
<footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script type="module" src="{% static 'assets/App/index.js' %}"></script>
</footer>
{% endblock %}