{% extends 'parents/main.html' %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %}Detail{% endblock %}
{% block content %}
<div class="detail-main container">
    <div class="detail-main__top-side">
      <div class="detail-main__top-side__summary">
        <h3>{{ lesson.title }}</h3>
        <p>
            {{ lesson.description|truncatechars:150 }}
        </p>
        <div class="detail-main__top-side__summary__icons">
          <div class="detail-main__top-side__summary__icons__session">
            <span class="material-symbols-outlined"> chart_data </span>
            <span>{{ lesson.number_of_sessions }}</span>
          </div>
          <div class="detail-main__top-side__summary__icons__students">
            <span class="material-symbols-outlined"> groups </span>
            <span>{{ lesson.get_remaining_capacity }}</span>
          </div>
        </div>
        <div class="detail-main__top-side__summary__badge">
          <span>تاریخ انتشار: {{ lesson.get_jalali_date.date_created | date:'d-m-Y' }}</span>
          <span>تاریخ شروع: {{ lesson.get_jalali_date.start_date | date:'d-m-Y' }}</span>
        </div>
      </div>
      {% thumbnail lesson.lesson_image "5472x3648" crop='center' as im %}
      <img
        src="{{ im.url }}"
        class="detail-main__top-side__img"
        alt=""
      />
      {% empty %}
      <img
      src="{% static 'assets/img/picture/lesson.jpg' %}"
      class="detail-main__top-side__img"
      alt=""
      />
      {% endthumbnail %}
    </div>
    <div class="detail-bot-side">
      <div class="detail-bot-side__desc">
        <h3>{{ lesson.title }}</h3>
        <p>
            {{ lesson.description }}
        </p>
      </div>
      <div class="detail-bot-side__price-teacher">
        <div class="detail-bot-side__price">
          <div class="price">
            {% if lesson.price == 0 %}
            <span>رایگان</span>
            {% else %}
            <span>{{ lesson.price | intcomma }}</span>
            <span>تومان</span>
            {% endif %}
          </div>
          <form action="{% url 'courses:register-lesson'%}" method='post'>
            {% csrf_token %}
            <input type="hidden" name="lesson" value="{{ lesson.id }}">
            {% if enrollment %}
            <button disabled class="submit__submitted">شما ثبت نام کرده‌اید</button>
            {% elif lesson.get_remaining_capacity == 0 %}
            <button disabled class="submit__ended">ظرفیت تکمیل است!</button>
            {% elif lesson.registration_start <= date and lesson.registration_deadline >= date %}
            <button>ثبت نام</button>
            {% elif lesson.registration_deadline < date %}
            <button disabled class="submit__ended">زمان ثبت نام به پایان رسیده!</button>
            {% else %}
            <button disabled class="submit__submit__notStart">شروع ثبت نام به زودی!</button>
            {% endif %}
            {% if request.user.is_staff %}
            <a href="{% url 'courses:lesson_update' lesson.slug %}">ویرایش</a>
            {% endif %}
          </form>
        </div>
        <div class="detail-bot-side__teacher">
          <div class="teacher-pic">
            {% thumbnail lesson.teacher.teacher_image "2048x2048" crop='center' as im %}
            <img
              src="{{ im.url }}"
              alt=""
            />
            {% empty %}
            <img
              src="{% static 'assets/img/picture/user_profile.png' %}"
              alt=""
            />
            {% endthumbnail %}
          </div>
          <h3>{{ lesson.teacher }}</h3>
          <p>
            {{ lesson.teacher.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}