<div class="header__main container"></div>
<div class="header__counter container">
  <div class="header__counter__stu">
    <span class="material-symbols-outlined"> person </span>

    :
    <span>{{ count.student }}</span>
  </div>
  <div class="header__counter__courses">
    <span class="material-symbols-outlined"> auto_stories </span>

    :
    <span>{{ lessons.count }}</span>
  </div>
  <div class="header__counter__teach">
    <span class="material-symbols-outlined"> co_present </span>

    :
    <span>{{ count.teacher }}</span>
  </div>
</div>