{% load static %}
<div class="header__main container swiper1">
  <div class="swiper-wrapper hs">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="{% static 'assets/img/picture/woman-working-office.jpg' %}" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="{% static 'assets/img/picture/woman-working-office.jpg' %}" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="{% static 'assets/img/picture/woman-working-office.jpg' %}" alt="" />
    </div>
  </div>
</div>
<div class="header__counter container">
  <div class="header__counter__stu">
    <span class="material-symbols-outlined"> person </span>

    :
    <span>{{ student }}</span>
  </div>
  <div class="header__counter__courses">
    <span class="material-symbols-outlined"> auto_stories </span>

    :
    <span>{{ lesson }}</span>
  </div>
  <div class="header__counter__teach">
    <span class="material-symbols-outlined"> co_present </span>

    :
    <span>{{ teacher }}</span>
  </div>
</div>