{% load static %}
{% load thumbnail %}
<nav class="container">
  <ul>
    <li><a href="{% url 'courses:home' %}">خانه</a></li>
    {% if request.user.is_authenticated and request.user.is_staff %}
    <li><a href="{% url 'courses:add_lesson' %}">اضافه کردن درس</a></li>
    {% endif %}
    <li><a href="">درباره ما</a></li>
  </ul>
  {% if request.user.is_authenticated %}
  <div class="nav__dorp__container">
    <a {% if request.user.is_student %} href="{% url 'accounts:profile' %}"{% else %} href="" {% endif %} class="nav__profile">
      {% thumbnail request.user.student.student_image "110x110" crop='center' as im %}
      <img src="{{ im.url }}" alt=""/>
      {% empty %}
      {% if request.user.user_type == 'admin' %}
      <img src="{% static 'assets/img/picture/admin.png' %}"/>
      {% else %}
      <img src="{% static 'assets/img/picture/user_profile.png' %}"/>
      {% endif %}
      {% endthumbnail %}
    </a>
    <div class="profile__drop-down">
      <ul>
        {% if request.user.is_student %}
        <li><span>اعتبار:</span><span>{{ request.user.student.credit }}</span>تومان</li>
        <li><a href="{% url 'accounts:profile' %}">پروفایل</a></li>
        <li><a href="{% url 'courses:user_lesson' %}">دوره های من</a></li>
        <li><a href="{% url 'accounts:credit' %}">افزایش اعتبار</a></li>
        {% elif request.user.is_teacher %}
        <li><a href="{% url 'courses:user_lesson' %}">درس های من</a></li>
        {% endif %}
        <div class="line"></div>
        <li><a href="{% url 'accounts:logout' %}"> خروج </a></li>
      </ul>
    </div>
  </div>
  {% else %}
  <a href="{% url 'accounts:login' %}" class="nav__log-sing"> ورود/ثبت نام </a>
  {% endif %}
</nav>