/* css rest  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--primary-text);
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

/* set font for document */
body {
  font-family: Vazirmatn300;
  /* width: 100vw;
    height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf5fd;
}

html {
  scale: smooth;
  /* overflow-x: hidden; */
}

.container {
  width: 90vw;
  max-width: 1400px;
  /* width: 1800px; */
}

/* log in  */

.login-form {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: #2196f3; */
}

.login-content-form {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 700px;
  width: 500px;
  position: relative;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  left: -50%;
  filter: var(--shadow-header-filter);
}

.login-content-form h2 {
  font-size: 2.3rem;
  font-family: Vazirmatn700;
  color: var(--primary-color);
}

.login-content-form h4 {
  font-size: 1.5rem;
  font-family: Vazirmatn500;
  color: var(--primary-color);
}

.login-inputs-form {
  display: flex;
  flex-direction: column;
}

.login-inputs-form input {
  outline: none;
  /* width: 100%; */
  width: 100%;
  height: 60px;
  border-radius: 15px;
  padding: 8px 60px;
  font-family: inherit;
  font-size: 1.2rem;
  border: var(--border-blue);
  margin-bottom: 20px;
}

.login-inputs-form svg {
  width: 30px;
}
.login-inputs-form svg path {
  stroke: var(--primary-color);
}
.password path {
  fill: var(--primary-color);
}
.userName,
.password {
  position: relative;
}
.userName svg,
.password svg {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

#userName:focus,
#password:focus {
  border: 2px solid var(--primary-color);
}

#to-signin,
#to-home {
  font-size: 1.2rem;
  font-family: Vazirmatn500;
  color: var(--primary-color);
  text-decoration: none;
}
#to-signin:hover,
#to-home:hover {
  color: var(--hover-blue);
}
#login-btn-form {
  width: 165px;
  height: 45px;
  border-radius: 15px;
  background-color: var(--primary-white);
  outline: none;
  border: var(--border-blue);
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-family: Vazirmatn500;
  cursor: pointer;
  transition: 0.1s linear;
}

#login-btn-form:hover {
  background-color: var(--primary-color);
  color: var(--primary-white);
}
#login-btn-form:active {
  background-color: var(--hover-blue);
}
.login-background {
  width: 65%;
  height: 100%;
  background: url(../img/picture/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-self: flex-end;
  box-shadow: 10px 0 8px rgba(0, 0, 0, 0.25);
}

/* register page  */

.singin-form {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.singin-backgroun {
  width: 55vw;
  background: url(../img/picture/signin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.25);
}

.singin-content {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 10px;
  align-items: center;
  position: relative;
}

.sing-form {
  position: absolute;
  left: 50%;
  height: 700px;
  width: 500px;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  filter: var(--shadow-header-filter);
  border-radius: 20px;
}

.sing-form > h2 {
  font-size: 2.3rem;
  font-family: Vazirmatn700;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.sing-form > h4 {
  font-size: 1.5rem;
  font-family: Vazirmatn500;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.singin-inputs-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.singin-inputs-form > div {
  display: flex;
  position: relative;
}

.singin-inputs-form input {
  outline: none;
  border-radius: 15px;
  padding: 8px 60px;
  font-family: inherit;
  font-size: 1.2rem;
  border: var(--border-blue);
  margin-bottom: 10px;
}
.singin-inputs-form input:focus {
  border: 2px solid var(--primary-color);
}

.singin-inputs-form svg {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.singin-inputs-form svg path {
  stroke: var(--primary-color);
}

#to-login {
  font-size: 1.2rem;
  font-family: Vazirmatn500;
  color: var(--primary-color);
  text-decoration: none;
}

#to-login:hover {
  color: var(--hover-blue);
}
#sin-btn-form {
  padding: 5px 55px;
  border-radius: 15px;
  background-color: var(--primary-white);
  outline: none;
  border: var(--border-blue);
  font-family: inherit;
  font-size: 1.3rem;
  color: var(--primary-color);
  font-family: Vazirmatn500;
  cursor: pointer;
  transition: 0.1s linear;
}

#sin-btn-form:hover {
  background-color: var(--primary-color);
  color: var(--primary-white);
}
#sin-btn-form:active {
  background-color: var(--hover-blue);
}

/* index  */

/* header  */

/* top side  */

.header-nav__top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--upper-distance);
}
.header-nav__top-side form {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav__top-side .search__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  left: -40px;
  top: 3px;
}
.header-nav__top-side .search__btn span {
  color: var(--primary-color);
}
.header-nav__top-side #searchBox {
  border-radius: var(--radius);
  border: 2px solid var(--primary-color);
  outline: none;
  width: 300px;
  height: 40px;
  padding-right: 45px;
  font-size: 1.2rem;
  font-family: inherit;
}

/* nav bar  */
nav {
  background-color: var(--primary-color);
  padding: 10px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--upper-distance);
  border-radius: var(--radius);
  position: relative;
}

nav > ul {
  display: flex;
}

nav > ul li {
  margin-left: 20px;
}
nav > ul li a {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Vazirmatn400;
}

nav .nav__log-sing {
  color: var(--primary-white);
  /* color: var(--primary-text); */

  text-decoration: none;
  background-color: var(--secondary-color);
  position: absolute;
  left: 80px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 140px;
  font-size: 1.2rem;
  font-family: Vazirmatn500;
  transition: 0.2s linear;
  display: none;
}
nav .nav__log-sing:hover {
  background-color: var(--hover-blue);
}

/* NOTE nav profile  */
.nav__dorp__container {
  /* background-color: aqua; */
}
nav .nav__profile {
  position: absolute;
  left: 80px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -50%;
  z-index: 1;
}

nav .nav__profile img {
  width: 100%;
}
.profile__drop-down {
  background-color: #fff;
  width: 280px;
  height: auto;
  position: absolute;
  left: -10px;
  top: 40px;
  border-radius: var(--radius);
  border-top: 5px solid var(--secondary-color);
  filter: var(--shadow-header-filter);
  padding: 30px 10px;
  display: none;
}
.profile__drop-down ul {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__drop-down ul li {
  margin: 10px;
  font-size: 1.1rem;
  font-family: Vazirmatn600;
}
.profile__drop-down ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.profile__drop-down ul .line {
  width: 90%;
  height: 1px;
  background-color: var(--primary-gray);
}
.profile__drop-down ul li:last-child a {
  color: var(--primary-red);
}

/* header main */
.header__main {
  margin-top: var(--upper-distance);
  background-color: var(--primary-color);
  border-radius: var(--radius);
  height: 300px;
  overflow: hidden;
}
.hs {
  width: 100%;
}

.hs .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}
.hs .swiper-slide img {
  width: 100%;
}

/* header counter */
.header__counter {
  margin-top: var(--upper-distance);
  background-color: var(--primary-color);
  border-radius: var(--radius);
  position: relative;
  display: flex;
  height: 50px;
  justify-content: space-around;
  /* align-items: flex-end; */
}
.header__counter div {
  position: absolute;
  top: 10px;
  background-color: var(--secondary-color);
  border-radius: var(--radius);
  padding: 20px 60px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: Vazirmatn700;
  color: var(--primary-white);
}
.header__counter div span {
  margin: 0 10px;
  color: var(--primary-white);
}
.header__counter div span:first-child {
  font-size: 2rem;
}
.header__counter__stu {
  right: 100px;
}
.header__counter__teach {
  left: 100px;
}

/* slider  */

main .slider-box {
  background-color: var(--primary-color);
  height: 540px;
  margin-top: calc(var(--upper-distance) * 2);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .slider-container {
  background-color: var(--secondary-color);
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 20px;

  border-radius: var(--radius) 0 0 var(--radius);
  margin: 0 !important;
}

main .slider-text {
  height: 80%;
  width: 13%;
  margin-left: 50px;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .cures-list {
  margin-top: var(--upper-distance);
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
main .not-find {
  text-align: center;
  font-size: 3rem;
  font-family: Vazirmatn700;
  display: none;
}

main .product-card {
  width: 350px;
  height: 450px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: aquamarine; */
  position: relative;
  filter: var(--shadow-header-filter);
}

main .product-card .product-card__img {
  border-radius: var(--radius);
  background-color: blueviolet;
  width: 90%;
  height: 200px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .product-card .product-card__img img {
  width: 100%;
}
main .product-card .product-card__img .product-card__count {
  background-color: var(--primary-white);
  width: fit-content;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  height: fit-content;
}

main .product-card .product-card__content {
  background-color: #ffffff;
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  border-radius: var(--radius);
  padding-top: 180px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .product-card .product-card__content .product-card__content__header {
  font-size: 1.8rem;
  font-family: Vazirmatn800;
  width: 100%;
}
main .product-card .product-card__content .product-card__content__session {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
main .product-card .product-card__content .product-card__content__session span {
  margin: 5px;
}

main .product-card .product-card__content .product-card__content__teacher {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
main .product-card .product-card__content .product-card__content__teacher span {
  margin: 5px;
}
main .product-card .product-card__content .product-card__content__line {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
}
main .product-card .product-card__content .product-card__price__btn {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}
main .product-card .product-card__content .product-card__price__btn a {
  background-color: var(--primary-color);
  color: var(--primary-white);
  text-decoration: none;
  padding: 8px 25px;
  border-radius: var(--radius);
  font-family: Vazirmatn700;
}
main .product-card .product-card__content .product-card__price {
  font-family: Vazirmatn700;
}

/* detail page  */
.detail-main {
  margin-top: var(--upper-distance);
}
.detail-main__top-side {
  background-color: var(--primary-color);
  border-radius: var(--radius);
  padding: 20px 50px;
  display: flex;
  justify-content: space-evenly;
  filter: var(--shadow-header-filter);
  position: relative;
  height: 200px;
}
.detail-main__top-side__summary {
  position: absolute;
  flex: 1;
  background-color: #fff;
  /* background-color: var(--secondary-color); */
  margin: 10px 50px;
  border-radius: var(--radius);
  padding: 30px;
  right: 0;
  top: 70px;
  width: 42%;
}
.detail-main__top-side__summary h3 {
  font-size: 2rem;
  font-family: Vazirmatn800;
  color: var(--primary-title);
  margin: 10px 20px;
}
.detail-main__top-side__summary p {
  font-size: 1.2rem;
  text-align: justify;
}
.detail-main__top-side__summary__icons {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}
.detail-main__top-side__summary__icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 20px;

  border-radius: 50%;
  filter: var(--shadow-header-filter);
}
.detail-main__top-side__summary__icons div span {
  color: #fff;
}
.detail-main__top-side__summary__icons div span:first-child {
  font-size: 2rem;
}
.detail-main__top-side__summary__icons div span:last-child {
  font-size: 1.2rem;
  font-weight: 800;
}

.detail-main__top-side__summary__badge span {
  background-color: var(--primary-gray);
  color: #000;
  padding: 5px 10px;
  margin: 2px 5px;
  border-radius: var(--radius);
}
.detail-main__top-side__img {
  flex: 1;
  width: 50%;
  left: 0;
  top: 70px;
  border-radius: var(--radius);
  margin: 10px 50px;
  position: absolute;
}

.detail-bot-side {
  margin-top: 400px;
  display: flex;

  padding: 40px;
}
.detail-bot-side__desc {
  flex: 1;
  filter: var(--shadow-header-filter);
  background-color: #fff;
  border-radius: var(--radius);
  padding: 40px;
  margin-left: 30px;
  height: fit-content;
}
.detail-bot-side__desc h3 {
  font-size: 2rem;
  font-family: Vazirmatn800;
  color: var(--primary-title);
  margin: 10px 20px;
}
.detail-bot-side__desc p {
  font-size: 1.2rem;
  text-align: justify;
}
.detail-bot-side__price-teacher {
  width: 300px;
}
.detail-bot-side__price {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  border-radius: var(--radius);
  filter: var(--shadow-header-filter);
}
.detail-bot-side__price .price {
  font-size: 1.7rem;
}
.detail-bot-side__price .price span:last-child {
  font-family: Vazirmatn900;
}
.detail-bot-side__price button {
  outline: none;
  font-size: 1.3rem;
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: var(--primary-color);
  padding: 8px 32px;
  margin-top: 20px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.2s linear;
  filter: var(--shadow-header-filter);
}
.detail-bot-side__price button:hover {
  background-color: var(--secondary-color);
}
.detail-bot-side__teacher {
  background-color: #fff;
  margin-top: var(--upper-distance);
  border-radius: var(--radius);
  padding: 30px;
  filter: var(--shadow-header-filter);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail-bot-side__teacher .teacher-pic {
  /* background-color: var(--primary-color); */
  border: 2px solid var(--primary-color);
  height: 150px;
  width: 150px;

  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: var(--shadow-header-filter);
}
.detail-bot-side__teacher .teacher-pic img {
  width: 150px;
}
.detail-bot-side__teacher h3 {
  font-size: 2rem;
  font-family: Vazirmatn800;
  color: var(--primary-title);
  margin: 10px 20px;
}
.detail-bot-side__teacher p {
  text-align: center;
}

/* profile  */

.profile-to-show {
  margin-top: 100px;
  background-color: #ffffff;
  padding: 40px 80px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.profile-photo {
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  margin-bottom: 40px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.055);
  border: var(--border-blue);
}
.profile-toshow-form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 50px;
  font-size: 1.3rem;
  font-family: Vazirmatn500;
}
.profile-toshow-form input {
  outline: none;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  font-family: inherit;
  font-size: 1.2rem;
  border: var(--border-blue);
  background-color: #fff;
  margin-bottom: 20px;
}
.profile-toshow-form input:disabled {
  background-color: transparent;
  border: none;
}
.change-profile-img {
  visibility: hidden;
}
.profile-img {
  border: none !important;
  background-color: transparent !important;
  height: 50px !important;
}

.profile-img::-webkit-file-upload-button {
  border: var(--border-blue);
  padding: 5px 20px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  display: inline-block;
  margin-bottom: 60px;
  cursor: pointer;
}

.delete-img {
  text-decoration: none;
  font-family: Vazirmatn300;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  padding: 3px 15px;
  border-radius: 8px;
  background-color: #fff;
}

.profile-edit-btns {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  margin: auto;
}
.profile-edit-btns button {
  margin-top: 30px;
  padding: 8px 30px;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  background-color: var(--primary-color);
  border: var(--border-blue);
  border-radius: 10px;
  cursor: pointer;
}
.profile-edit-btns button:hover {
  background-color: var(--hover-blue);
}
.profile-edit-btns button[class="profile-edit-cancel-btn"] {
  background-color: #fff;
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
}
.profile-edit-btns button[class="profile-edit-cancel-btn"]:hover {
  background-color: var(--primary-red);
  color: #fff;
}

.profile-edit-done-btn {
  display: none;
}
.profile-edit-cancel-btn {
  display: none;
}

/* instans  */

/* instans page  */
.instans {
  max-width: 1170px;
  width: 100%;
  margin: 30px auto;
}
.instans h3 {
  text-align: center;
  font-family: Vazirmatn500;
  font-size: 1.2rem;
}
.instans-books {
  width: 100%;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.ins-book {
  display: flex;
  align-items: center;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: var(--shadow-product);
  filter: var(--shadow-header-filter);
}
.ins-book-img {
  width: 130px;
  height: 100%;
  margin-left: 10px;
  overflow: hidden;
}
.ins-book-img > img {
  width: 100%;
  height: 100%;
}
.ins-book-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ins-book-detail h4 {
  font-size: 1.7rem;
  font-family: Vazirmatn500;
}
.ins-aut {
  text-align: center;
  min-width: 90px;
  max-width: 120px;
  height: 35px;
  border-radius: 8px;
  background-color: var(--primary-red);
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  line-height: 35px;
  overflow: hidden;
}
.ins-gen {
  text-align: center;
  min-width: 90px;
  max-width: 120px;
  height: 35px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  line-height: 35px;
  overflow: hidden;
}

/* add courses  */

.add-course {
  padding: 10px;
  background-color: #fff;
  margin-top: var(--upper-distance);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-course table td {
  /* margin: 10px; */
  /* background-color: blueviolet; */
  padding: 15px 15px;
  vertical-align: middle;
}
.add-course table input {
  padding: 5px 10px;
}
.add-course table td input,
textarea,
select {
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  outline: none;
  resize: none;
}
.add-course table td input[type="text"],
.add-course table td input[type="number"],
.add-course table td input[type="date"] {
  width: 150px;
}

.add-course table td select {
  width: 70px;
  padding: 5px 10px;
}

.add-Cou-img::-webkit-file-upload-button {
  border: var(--border-blue);
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.1s linear;
}

.add-course table tr:last-child td {
  /* background-color: chocolate; */
  text-align: center;
}
.add-course table tr:last-child td button {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fff;
  font-family: Vazirmatn700;
  padding: 8px 45px;
  border-radius: var(--radius);
  font-size: 1.3rem;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}
.add-course table tr:last-child td button:hover {
  background-color: var(--hover-blue);
}
.add-course table tr:last-child td button:last-child {
  background-color: var(--primary-red);
}
.add-course table tr:last-child td button:last-child:hover {
  background-color: var(--primary-red-hover);
}

/* credit card  */

.credit__container {
  background-color: var(--primary-color);
  position: relative;
  height: 100px;
  margin-top: var(--upper-distance);
  border-radius: var(--radius);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  filter: var(--shadow-header-filter);
}
.credit__container__details {
  position: absolute;
  top: 40px;
  width: 80%;
  border-radius: var(--radius);
  padding: 40px;
  background-color: var(--secondary-color);
}
.credit__container__details form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.credit__container__details form > div {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  font-size: 1.8rem;
}
.credit__now {
  grid-area: 1 / 1 / 2 / 4;
  font-family: Vazirmatn700;

  padding: 40px;
}
.credit__how-much {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.3rem !important;
}
.credit__how-much input {
  font-family: inherit;
  margin: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: inherit;
  width: 200px;
  text-align: center;
}
.credit__increase {
  grid-area: 2 / 3 / 3 / 4;
  flex-direction: column;
  font-size: 1.3rem !important;
  padding: 30px;
}
.credit__increase div {
  margin-bottom: 10px;
}
.credit__increase__btns button {
  margin-top: 10px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 20px;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: var(--radius);
  cursor: pointer;
}
.credit__increase__btns button:hover {
  background-color: var(--hover-blue);
}
.credit__increase__btns button:last-child {
  background-color: var(--primary-red);
}
.credit__increase__btns button:last-child:hover {
  background-color: var(--primary-red-hover);
}
